* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.headerFoto {
  background-image: url(../assets/img/camara.nikon.jpg);
  background-position: center;
  width: 100%;
  height: 500px;
  margin: 0;
  border-radius: 25px;
  box-shadow: 0px 10px 10px black; }
  .headerFoto .headerFormulario {
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: end;
    text-shadow: 3px 3px 5px white; }
  .headerFoto h1 {
    font-family: 'Castoro Titling', cursive;
    letter-spacing: 1px;
    text-align: right;
    background-size: contain;
    padding-top: 130px;
    padding-bottom: 40px;
    padding-left: 30px;
    bottom: 50px;
    margin-top: 0px;
    color: black;
    font-size: 100px; }
    .headerFoto h1::selection {
      background-color: #A19882; }

.container-1 {
  position: sticky;
  top: 0;
  z-index: 4; }
  .container-1 .main-buscador {
    padding: 40px;
    background-color: #E6DDC6;
    position: sticky; }
    .container-1 .main-buscador .navBar li {
      display: inline;
      font-size: 23px;
      text-align: center;
      width: 100%;
      height: 100px;
      padding-left: 110px;
      margin-top: 0px;
      margin-bottom: 0px;
      color: black; }
    .container-1 .main-buscador .navBar a {
      text-decoration: none;
      color: black; }
      .container-1 .main-buscador .navBar a:hover {
        color: grey;
        text-decoration: underline; }
      .container-1 .main-buscador .navBar a:active {
        color: #dd9d4e; }
      .container-1 .main-buscador .navBar a::selection {
        background-color: #7e5f5f;
        color: white; }

.section-index {
  background-image: url(../assets/img/photo-1618339665980-9fe338a21dcd.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 0px;
  margin-bottom: 0px; }
  .section-index .descripcion-index {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 15px;
    padding-top: 50px;
    padding-bottom: 150px;
    padding-left: 100px;
    padding-right: 100px; }
    .section-index .descripcion-index p {
      align-self: center;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      letter-spacing: 1px;
      padding-left: 50px;
      padding-top: 50px;
      padding-right: 50px;
      font-size: 35px;
      color: white;
      margin-top: 0px; }
      .section-index .descripcion-index p::selection {
        background-color: #C2B8A3;
        color: black; }
    .section-index .descripcion-index .fotoFlor {
      width: 350px;
      height: 300px;
      padding-top: 50px;
      padding-left: 100px;
      padding-right: 0px;
      padding-bottom: 20px;
      padding-left: 20px;
      box-shadow: 5px 5px 5px 5px white; }

.galeria-1 {
  width: 90%;
  margin: auto; }
  .galeria-1 .img-index {
    display: flex;
    flex-direction: column; }
  .galeria-1 .corazon-embarazada {
    display: flex;
    align-self: flex-start;
    margin-top: 15px;
    width: 262px;
    height: 402px; }
  .galeria-1 .mujeres-beso {
    display: flex;
    align-self: flex-end;
    margin-top: 15px;
    width: 371px;
    height: 486px; }
  .galeria-1 .mujer-mirando {
    display: flex;
    align-self: flex-start;
    margin-top: 25px;
    width: 169px;
    height: 196px; }
  .galeria-1 .hombre-nene {
    display: flex;
    align-self: flex-end;
    margin-top: 20px;
    width: 480px;
    height: 128px; }
  .galeria-1 .pareja-byn {
    display: flex;
    align-self: flex-start;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 396px;
    height: 182px; }
  .galeria-1 .familia-feliz {
    display: flex;
    align-self: flex-end;
    margin-top: 40px;
    width: 258px;
    height: 384px; }
  .galeria-1 .nene-sonriendo1 {
    display: flex;
    align-self: center;
    margin-top: 20px;
    padding-bottom: 50px;
    width: 212px;
    height: 544px; }

.footerConsulta {
  background-color: #A19882;
  font-family: 'Castoro Titling', cursive;
  text-align: left;
  font-size: 21px;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 5px 0px 5px 0px; }

.footer-section {
  background-color: #E6DDC6; }
  .footer-section .footer-iconos {
    display: flex;
    justify-content: end; }
  .footer-section .footerBsas p {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 19px;
    letter-spacing: 1;
    color: black;
    margin-top: 0px; }
  .footer-section .whatsapp-1 {
    position: fixed;
    bottom: 1px;
    right: 67px; }

body {
  margin-top: 0px; }

h2 {
  font-family: 'Castoro Titling', cursive;
  text-align: left;
  letter-spacing: 2px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #E6DDC6; }

.container-1 {
  position: sticky;
  top: 0;
  z-index: 4; }
  .container-1 .main-section {
    background-color: #A19882;
    padding: 35px; }
    .container-1 .main-section .navBar2 li {
      display: inline;
      font-size: 23px;
      text-align: center;
      width: 100%;
      height: 100px;
      padding-left: 110px;
      margin-top: 0px;
      margin-bottom: 0px; }
    .container-1 .main-section .navBar2 {
      background-color: #A19882; }
    .container-1 .main-section .navBar2 a {
      text-decoration: none;
      color: black; }
      .container-1 .main-section .navBar2 a:hover {
        color: beige;
        text-decoration: underline; }
      .container-1 .main-section .navBar2 a:active {
        color: #7e5f5f; }
      .container-1 .main-section .navBar2 a::selection {
        background-color: #7e5f5f;
        color: white; }

.descripcion-boda {
  background-color: #C2B8A3;
  background-size: cover; }
  .descripcion-boda p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 100px;
    margin-top: 0px;
    font-size: 20px;
    color: black; }
    .descripcion-boda p::selection {
      background-color: #7e5f5f;
      color: white; }

.galeria-boda {
  width: 90%;
  margin: auto; }
  .galeria-boda .img-boda {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    display: flex; }
    .galeria-boda .img-boda .familia-libreta {
      width: 813px;
      height: 437px; }
    .galeria-boda .img-boda .casados-mirandose {
      display: flex;
      align-self: flex-start;
      padding-top: 30px;
      width: 553px;
      height: 834px; }
    .galeria-boda .img-boda .mujer-mirandomarido {
      display: flex;
      align-self: flex-end;
      width: 444px;
      height: 444px; }
    .galeria-boda .img-boda .pareja-civil {
      display: flex;
      align-self: flex-start;
      margin-bottom: 50px;
      width: 800px;
      height: 385px; }

body {
  margin-top: 0px; }

h2 {
  font-family: 'Castoro Titling', cursive;
  text-align: left;
  letter-spacing: 2px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #E6DDC6; }

.container-1 {
  position: sticky;
  top: 0;
  z-index: 4; }
  .container-1 .main-section {
    background-color: #A19882;
    padding: 35px; }
    .container-1 .main-section .navBar2 li {
      display: inline;
      font-size: 23px;
      text-align: center;
      width: 100%;
      height: 100px;
      padding-left: 110px;
      margin-top: 0px;
      margin-bottom: 0px; }
    .container-1 .main-section .navBar2 {
      background-color: #A19882; }
    .container-1 .main-section .navBar2 a {
      text-decoration: none;
      color: black; }
      .container-1 .main-section .navBar2 a:hover {
        color: beige;
        text-decoration: underline; }
      .container-1 .main-section .navBar2 a:active {
        color: #7e5f5f; }
      .container-1 .main-section .navBar2 a::selection {
        background-color: #7e5f5f;
        color: white; }

.descripcion-eventos {
  background-color: #C2B8A3;
  background-size: cover; }
  .descripcion-eventos p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 100px;
    margin-top: 0px;
    font-size: 20px;
    color: black; }
    .descripcion-eventos p::selection {
      background-color: #7e5f5f;
      color: white; }

.galeria-eventos {
  width: 90%;
  margin: auto; }
  .galeria-eventos .img-eventos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    background-color: #C2B8A3;
    display: flex; }
    .galeria-eventos .img-eventos .nene-sonriendo {
      display: flex;
      align-self: flex-start;
      margin-top: 50px;
      margin-bottom: 40px;
      width: 363px;
      height: 363px; }
    .galeria-eventos .img-eventos .familia-sonriendo {
      display: flex;
      align-self: flex-end;
      margin-top: 40px;
      margin-bottom: 40px;
      width: 912px;
      height: 357px; }
    .galeria-eventos .img-eventos .nene-mama {
      display: flex;
      align-self: flex-start;
      margin-top: 40px;
      margin-bottom: 40px;
      width: 590px;
      height: 976px; }
    .galeria-eventos .img-eventos .nene-boca {
      display: flex;
      align-self: flex-end;
      margin-bottom: 50px;
      width: 584px;
      height: 776px; }

body {
  margin-top: 0px; }

h2 {
  font-family: 'Castoro Titling', cursive;
  text-align: left;
  letter-spacing: 2px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #E6DDC6; }

body {
  margin-top: 0px; }

.container-1 {
  position: sticky;
  top: 0;
  z-index: 4; }
  .container-1 .main-section {
    background-color: #A19882;
    padding: 35px; }
    .container-1 .main-section .navBar2 li {
      display: inline;
      font-size: 23px;
      text-align: center;
      width: 100%;
      height: 100px;
      padding-left: 110px;
      margin-top: 0px;
      margin-bottom: 0px; }
    .container-1 .main-section .navBar2 {
      background-color: #A19882; }
    .container-1 .main-section .navBar2 a {
      text-decoration: none;
      color: black; }
      .container-1 .main-section .navBar2 a:hover {
        color: beige;
        text-decoration: underline; }
      .container-1 .main-section .navBar2 a:active {
        color: #7e5f5f; }
      .container-1 .main-section .navBar2 a::selection {
        background-color: #7e5f5f;
        color: white; }

.descripcion-contenido {
  background-color: #C2B8A3;
  background-size: cover; }
  .descripcion-contenido p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 100px;
    margin-top: 0px;
    font-size: 20px;
    color: black; }
    .descripcion-contenido p::selection {
      background-color: #7e5f5f;
      color: white; }

.galeria-contenido {
  width: 90%;
  margin: auto; }
  .galeria-contenido .img-contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    display: flex; }
    .galeria-contenido .img-contenido .marca-1 {
      display: flex;
      align-self: flex-start;
      width: 460px;
      height: 460px; }
    .galeria-contenido .img-contenido .marca-2 {
      align-self: flex-end;
      width: 460px;
      height: 460px; }
    .galeria-contenido .img-contenido .marca-3 {
      align-self: flex-start;
      width: 460px;
      height: 460px; }
    .galeria-contenido .img-contenido .marca-4 {
      align-self: flex-end;
      width: 460px;
      height: 460px; }
    .galeria-contenido .img-contenido .marca-5 {
      align-items: flex-start;
      margin-bottom: 50px;
      width: 460px;
      height: 460px; }

body {
  margin-top: 0px; }

h2 {
  font-family: 'Castoro Titling', cursive;
  text-align: left;
  letter-spacing: 2px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 25px;
  font-weight: bold; }

.container-contacto {
  position: sticky;
  top: 0;
  z-index: 4; }
  .container-contacto .main-contacto {
    background-color: #A19882; }
    .container-contacto .main-contacto .navBarContacto {
      margin-bottom: 0px;
      padding: 30px; }
    .container-contacto .main-contacto .navBarContacto li {
      display: inline;
      font-size: 20px;
      text-align: center;
      width: 100%;
      height: 100px;
      padding: 60px;
      margin-top: 0px;
      margin-bottom: 0px;
      font-family: 'Roboto', sans-serif; }
    .container-contacto .main-contacto .navBarContacto a {
      text-decoration: none;
      color: black; }
      .container-contacto .main-contacto .navBarContacto a:hover {
        color: beige;
        text-decoration: underline; }
      .container-contacto .main-contacto .navBarContacto a:active {
        color: #7e5f5f; }
      .container-contacto .main-contacto .navBarContacto a::selection {
        background-color: #7e5f5f;
        color: white; }

.mail-contacto {
  background-color: #C2B8A3; }
  .mail-contacto p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 50px;
    margin: 0px;
    font-size: 20px;
    padding-bottom: 20px;
    font-weight: 700px; }
    .mail-contacto p::selection {
      background-color: #7e5f5f;
      color: white; }

input:focus {
  box-shadow: 5px 5px 5px #8e8ea0; }

.col input:focus {
  box-shadow: 5px 5px 5px 5px #adade0; }

.button-1 {
  text-align: start;
  margin-left: 2px;
  margin-bottom: 10px; }

body {
  margin-top: 0px; }

h2 {
  font-family: 'Castoro Titling', cursive;
  text-align: left;
  letter-spacing: 2px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #E6DDC6; }

.container-1 {
  position: sticky;
  top: 0;
  z-index: 4; }
  .container-1 .main-section {
    background-color: #A19882;
    padding: 35px; }
    .container-1 .main-section .navBar2 li {
      display: inline;
      font-size: 23px;
      text-align: center;
      width: 100%;
      height: 100px;
      padding-left: 110px;
      margin-top: 0px;
      margin-bottom: 0px; }
    .container-1 .main-section .navBar2 {
      background-color: #A19882; }
    .container-1 .main-section .navBar2 a {
      text-decoration: none;
      color: black; }
      .container-1 .main-section .navBar2 a:hover {
        color: beige;
        text-decoration: underline; }
      .container-1 .main-section .navBar2 a:active {
        color: #7e5f5f; }
      .container-1 .main-section .navBar2 a::selection {
        background-color: #7e5f5f;
        color: white; }

.descripcion-book {
  background-color: #C2B8A3;
  background-size: cover; }
  .descripcion-book p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 100px;
    margin-top: 0px;
    font-size: 20px;
    color: black; }
    .descripcion-book p::selection {
      background-color: #7e5f5f;
      color: white; }

.galeria-book {
  background-color: #C2B8A3;
  background-size: contain;
  margin: auto;
  width: 90%; }
  .galeria-book .img-book {
    background-color: #C2B8A3;
    background-size: contain;
    display: grid;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "img1 img1" "img2 img2" "img3 img3" "img4 img";
    display: grid;
    /**
        height: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4,auto);
        grid-template-areas:
            "img1 img1"
            "img2 img2"
            "img3 img3"
            "img4 img4"
            ;
*/ }
    .galeria-book .img-book .hombre-panza {
      grid-area: img1;
      object-fit: cover;
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start: 1;
      grid-row-end: 2;
      padding: 20px; }
    .galeria-book .img-book .pareja-mirandose {
      grid-area: img2;
      object-fit: cover;
      grid-column-start: 2;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
      margin-left: 20px; }
    .galeria-book .img-book .mujer-panza {
      grid-area: img3;
      object-fit: cover;
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start: 3;
      grid-row-end: 4;
      margin: 0; }
    .galeria-book .img-book .pareja-mano {
      grid-area: img4;
      object-fit: cover;
      grid-column-start: 2;
      grid-column-end: 2;
      grid-row-start: 4;
      grid-row-end: 4;
      justify-self: center; }

/**UTILIZAR @EXTEND PARA COPIAR MISMAS ETIQUETAS: FONT SIZE COLOR ETC*/
