* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**siempre declarar esto*/

/**html{
    font-size: 62.5%;
}
/**siempre hay que declarar esto */

/**header{
    font-size: 1.5rem;
}

header{
    background-color: azure;
    font-size: 2em;
}

/** de esta manera es como yo puedo escribir un comentario/*
/** clases:
        camelCase= escribeUnaPalabra
        kebabe= escribiendo-una-palabra
        snake_case= escribiendo_una_palabra */

/**font-family: 'Castoro Titling', cursive;
        font-family: 'Roboto', sans-serif;
*/
/**display flex: se comporta en base a lo que diga flexbox
flex direction: row; estan en linea o todo sobre el eje horizontal
flex direction: columne; uno abajo del otro o en el eje y
/**justify-content controla la alineación horizontal de un conjunto de elementos, 
mientras que align-items controla su alineación vertical/**
/**header*/

.headerFoto {
    background-image: url(../assets/img/camara.nikon.jpg);
    background-position: center;
    width: 100%;
    height: 500px;
    margin: 0;
    border-radius: 25px;
    box-shadow: 0px 10px 10px black;
    
}

.headerFormulario {
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: end;
}
.headerFormulario h1{

    text-shadow: 3px 3px 5px white;
    
}

.descripcion-1 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    letter-spacing: 1px;
    width: 100%;
    height: 750px;
}

.descripcion-1 p {
    text-align: right;
    font-size: 15px;
    justify-content: center;
}

h1 {
    font-family: 'Castoro Titling', cursive;
    letter-spacing: 1px;
    text-align: right;
    background-size: contain;
    padding-top: 130px;
    padding-bottom: 40px;
    padding-left: 30px;
    bottom: 50px;
    margin-top: 0px;
    color: black;
    font-size: 100px;
}

/**main*/

ul {
    margin-top: 0px;
    margin-bottom: 0px;
}
.main-buscador ul{
    position: sticky;
}
nav {
    padding: 40px;
    background-color: #E6DDC6;
    position: sticky;
}

.main-section {
    background-color: #A19882;
}

.main-section li {
    display: inline;
    font-size: 23px;
    text-align: center;
    width: 100%;
    height: 100px;
    padding-left: 120px;
    padding-bottom: 1px;
    margin-top: 0px;
    margin-bottom: 0px;

}
.container-1{
    position: sticky;
    top: 0;
    z-index: 4;
}

.bordeBoda {
    background-color: #E6DDC6;
}

.bordeBook {
    background-color: #E6DDC6;
}

.bordeEventos {
    background-color: #E6DDC6;
}

.bordeContenido {
    background-color: #E6DDC6;
}

.bordeContacto {
    background-color: #E6DDC6;
}

.navBar ul {
    background-color: #E6DDC6;
    color: black;
    position: sticky;
}

.navBar2 {
    background-color: #A19882;
    
}

.main-buscador li {
    display: inline;
    font-size: 23px;
    text-align: center;
    width: 100%;
    height: 100px;
    padding-left: 120px;
    padding-bottom: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: black;
}

.navBar a {
    text-decoration: none;
    color: black;
    
}

.navBar2 a {
    text-decoration: none;
    color: black;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}
.descripcion-index{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 15px;
    padding-top: 50px;
    padding-bottom: 150px;
    padding-left: 100px;
    padding-right: 100px;


}

.descripcion-index p {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    letter-spacing: 1px;
    padding-left: 150px;
    padding-top: 50px;
    padding-right: 50px;
    font-size: 35px;
    color: white;
    margin-top: 0px;
}


.descripcion-1 p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 100px;
    margin-top: 0px;
    font-size: 20px;
    color: black;
}

.descripcion-1 {
    background-color: #C2B8A3;
    background-size: cover;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: left;
    padding-right: 00px;
}
.descripcion-boda p{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 100px;
    margin-top: 0px;
    font-size: 20px;
    color: black;
}
.descripcion-boda{
    background-color: #C2B8A3;
    background-size: cover;
}
.descripcion-contenido{
    background-color: #C2B8A3;
    background-size: cover;
}
.descripcion-contenido p{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 100px;
    margin-top: 0px;
    font-size: 20px;
    color: black;
}
.descripcion-book{
    background-color: #C2B8A3;
    background-size: cover;
}

.secion-book{
    background-color: #C2B8A3;
    background-size: cover;
}
.descripcion-book p{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 100px;
    margin-top: 0px;
    font-size: 20px;
    color: black;
}
.descripcion-eventos{
    background-color: #C2B8A3;
    background-size: cover;
}
.descripcion-eventos p{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 100px;
    margin-top: 0px;
    font-size: 20px;
    color: black;
}

.section-index {
    background-image: url(../assets/img/photo-1618339665980-9fe338a21dcd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0px;
    margin-bottom: 0px;
}

.fotoFlor {
    width: 350px;
    height: 300px;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 0px;
    padding-bottom: 20px;
    padding-left: 20px;
    box-shadow: 5px 5px 5px 5px white;
    
}
.galeria-1{
    width: 90%;
    margin: auto;

}
/**.galeria-book{
    display: grid;
    width: 90%;
    height: 90vh;
    margin: auto;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-area: 
    "img1 img2 img3 img4"
    "img1 img2 img3 img4"
    "img1 img2 img3 img4"
    "img1 img2 img3 img4"
    
    ;

}
*/
.galeria-boda{
    width: 90%;
    margin: auto;
    
}

.galeria-contenido{
    width: 90%;
    margin: auto;
    
}
.galeria-eventos{
    width: 90%;
    margin: auto;
}

.bordeTexto p {
    background-position: center;
    background-size: contain;
    text-align: center;
    padding-bottom: 150px;
    padding-top: 50px;
    margin-top: 0px;
}

.bordeTexto {
    margin-top: 0px;
}

.bodyBook {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.bodyBoda {
    margin-top: 0px;
}

.bodyEventos {
    margin-top: 0px;
}

.bodyContenido {
    margin-top: 0px;
}

.bodyContacto {
    margin-top: 0px;
}

h2 {
    font-family: 'Castoro Titling', cursive;
    text-align: left;
    letter-spacing: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.img-index {
    display: flex;
    flex-direction: column;
}

/**.img-book {
    background-color: #C2B8A3;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
*/

.img-boda {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.img-eventos {
    background-color: #C2B8A3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
}

.img-contenido {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
}
.img-index {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    }
.corazon-embarazada {
    display: flex;
    align-self: flex-start;
    margin-top: 15px;
    width: 262px;
    height: 402px;
}

.mujeres-beso {
    display: flex;
    align-self: flex-end;
    margin-top: 15px;
    width: 371px;
    height: 486px;
}

.mujer-mirando {
    display: flex;
    align-self: flex-start;
    margin-top: 25px;
    width: 169px;
    height: 196px;
}

.hombre-nene {
    display: flex;
    align-self: flex-end;
    margin-top: 20px;
    width: 480px;
    height: 128px;
}

.pareja-mirandose {
    display: flex;
    align-self: flex-start;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 396px;
    height: 182px;
}

.familia-feliz {
    display: flex;
    align-self: flex-end;
    margin-top: 40px;
    width: 258px;
    height: 384px;
}

.nene-sonriendo1 {
    display: flex;
    align-self: center;
    margin-top: 20px;
    padding-bottom: 50px;
    width: 212px;
    height: 544px;
}
.galeria-book{
    object-fit: cover;
    display: grid;
    width: 90%;
    height: 90%;
    grid-template-columns: repeat(8,1fr) ;
    grid-template-rows: repeat(4,1fr);
    grid-area: 
    "img1" 
    "img2"
    "img3"
    "img4"
    
    ;
    justify-items: center;
}


.img-book{
    grid-area: img1;
    object-fit: cover;
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 1;
}
.hombre-panza {
    margin-top: 50px;
    width: 339px;
    height: 801px;
}

.img-book2{
    grid-area: img2;
    object-fit: cover;
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 2;
}
.pareja-mirandose {
    width: 669px;
    height: 389px;
}
.img-book3{
    grid-area: img3;
    object-fit: cover;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end:3;
}
.img-book4{
    grid-area: img4;
    object-fit: cover;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
    padding-bottom: 10px;

}
.mujer-panza {

    margin-top: 40px;
    width: 455px;
    height: 758px;
}

.pareja-mano {

    margin-top: 30px;
    width: 405px;
    height: 405px;
    margin-bottom: 30px;
}

.familia-libreta {
    width: 813px;
    height: 437px;
}

.casados-mirandose {
    display: flex;
    align-self: flex-start;
    padding-top: 30px;
    width: 553px;
    height: 834px;
}

.mujer-mirandomarido {
    display: flex;
    align-self: flex-end;
    width: 444px;
    height: 444px;
}

.pareja-civil {
    display: flex;
    align-self: flex-start;
    margin-bottom: 50px;
    width: 800px;
    height: 385px;
}

.nene-sonriendo {
    display: flex;
    align-self: flex-start;
    margin-top: 50px;
    margin-bottom: 40px;
    width: 363px;
    height: 363px;
}

.familia-sonriendo {
    display: flex;
    align-self: flex-end;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 912px;
    height: 357px;
}

.nene-mama {
    display: flex;
    align-self: flex-start;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 590px;
    height: 976px;
}

.nene-boca {
    display: flex;
    align-self: flex-end;
    margin-bottom: 50px;
    width: 584px;
    height: 776px;
}

.marca-1 {
    width: 460px;
    height: 460px;
}

.marca-2 {
    align-self: flex-end;
    width: 460px;
    height: 460px;
}

.marca-3 {
    align-self: flex-start;
    width: 460px;
    height: 460px;
}

.marca-4 {
    align-self: flex-end;
    width: 460px;
    height: 460px;
}

.marca-5 {
    align-items: flex-start;
    margin-bottom: 50px;
    width: 460px;
    height: 460px;
}

.mail-section {
    background-color: #C2B8A3;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 100px;
    margin-top: 0px;
    font-size: 20px;
    padding-bottom: 20px;
}

.mail-1 {
    background-color: #C2B8A3;
    margin-top: 0px;
    margin-bottom: 0px;
}

/**footer*/

.footerConsulta {
    background-color: #A19882;
    font-family: 'Castoro Titling', cursive;
    text-align: left;
    font-size: 15px;
    width: 100%;
    height: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.footer-section {
    background-color: #E6DDC6;
}

.footer-1 {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 15px;
    letter-spacing: 1;
}

/**.footer-1 div{
            font-size: 15px;
            margin-top: 0px;
            align-items: left;
        }
        */
.footer-iconos {
    display: flex;
    justify-content: end;
    

}

.footerBsas p {
    color: black;
    margin-top: 0px;
}
.whatsapp-1{
    position: fixed;
    bottom: 1px;
    right: 68px;

}
/**MEDIA/RESPONSIVE*/



/**BODA/CIVIL*/

@media (max-width: 820px){
    .img-boda{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .familia-libreta{
        display: flex;
        align-self: center;
        width: 613px;
        margin-bottom: 15px;
    }
    .casados-mirandose{
        margin-bottom: 15px;
    }
    .mujer-mirandomarido{
        margin-bottom: 15px;
    }
}
@media (max-width: 794px){
    .pareja-civil{
        display: flex;
        align-self: center;
    }
}

@media (max-width:768px){
    .navBar2{
        background-color: beige;
    }
    .img-boda{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .familia-libreta{
        display: flex;
        align-self: center;
        width: 613px;
    }
    .casados-mirandose{
        display: flex;
        align-self: center;
        margin-bottom: 20px;
    }
    .mujer-mirandomarido{
        display: flex;
        align-self: center;
        margin-bottom: 20px;
    }
    .pareja-civil{
        display: flex;
        align-self: flex-start;
        width: 650px;
        margin-left: 20px;
    }
}
@media (max-width:700){
    .navBar2 li{
        font-size: 20px;
    }
}
    @media (max-width:668px){
    .pareja-civil{
        display: flex;
        align-self: center;
        margin-left: 50px;

    }
}
@media (max-width:602px){
    .familia-libreta{
        width: 580px;
        height: 415px;
    }
    .pareja-civil{
        width: 600px;
        height: 320px;
    }
}
@media (max-width:578px){
    .familia-libreta{
        width: 540px;
    }
}
@media (max-width: 588){
    .familia-libreta{
        width: 520px;
        height: 400px;
    }
}
@media (max-width:572px){
    .familia-libreta{
        width: 488px;
        height: 400px;
    }
    .casados-mirandose{
        width: 500px;
        height: 720px;
    }
}
@media (max-width:553px){
    .container-1{
        position: static;
    }
    .main-section ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #ebdfc1;
    }
    .familia-libreta{
        width: 480px;
        height: 380px;
    }
    .casados-mirandose{
        width: 400px;
        height: 650px;
    }
    .mujer-mirandomarido{
        width: 350px;
        height: 350px;
    }
    .pareja-civil{
        width: 500px;
        height: 400px;
    }
}
@media (max-width:483px){
    .img-boda{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .familia-libreta{
        width: 400px;
        height: 300px;
    }
    .casados-mirandose{
        width: 350px;
        height: 600px;
    }
    .mujer-mirandomarido{
        width: 300px;
        height: 300px;
    }
    .pareja-civil{
        width: 430px;
        height: 300px;
    }
}
@media (max-width: 417px){
    .familia-libreta{
        width:350px;
        height: 280px;
    }
}
@media (max-width:401px){
    .casados-mirandose{
        width: 280px;
        height: 500px;

    }
    .pareja-civil{
        width: 350px;
        height: 220px;
    }
}
@media (max-width:359px){
    .mail-section ul{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .familia-libreta{
        width: 270px;
        height: 250px;
    }
    .casados-mirandose{
        width: 220px;
        height: 380px;
    }
    .mujer-mirandomarido{
        width: 220px;
        height: 220px;
    }
    .pareja-civil{
        width: 300px;
        height: 180px;
    }
}




