/*variables: espacio de memoria reservado para alojar un valor de una propiedad*/

$color-1:#A19882;
$color-2:#E6DDC6;
$color-3:#C2B8A3;
$color-index-hover: grey;
$color-index-active:#dd9d4e;
$color-pages-hover: beige;
$color-pages-active: #7e5f5f;