.container-1{
    position: sticky;
    top: 0;
    z-index: 4;
    
.main-section {
    background-color: $color-1;
    padding: 35px;

    .navBar2 li {
    display: inline;
    font-size: 23px;
    text-align: center;
    width: 100%;
    height: 100px;
    padding-left: 110px;
    margin-top: 0px;
    margin-bottom: 0px;

}
.navBar2 {
    background-color: $color-1;
    
}
.navBar2 a {
    text-decoration: none;
    color: black;

&:hover{
    color:$color-pages-hover;
    text-decoration: underline;
}
&:active{
    color:#7e5f5f
}
&::selection{
    background-color: $color-pages-active;
    color: white;
}
}
}
}
.descripcion-boda{
    background-image: linear-gradient(to top, #a19882, #a79e88, #ada48e, #b4aa95, #bab09b, #c0b6a1, #c5bba6, #cbc1ac, #d2c8b2, #d8cfb9, #dfd6bf, #e6ddc6);
    background-size: cover;
    -webkit-animation: descripcion-boda 4s linear 1s infinite alternate both;
    animation: descripcion-boda 4s linear 1s infinite alternate both;
}
    @-webkit-keyframes descripcion-boda {
        0% {
          background: #a19882;
        }
        50% {
          background: #E6DDC6;
        }
        100% {
          background: #C2B8A3;
        }
      }
      @keyframes descripcion-boda {
        0% {
          background: #a19882;
        }
        50% {
          background: #E6DDC6;
        }
        100% {
          background: #C2B8A3;
        }
      }
      
    p{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 100px;
    margin-top: 0px;
    font-size: 20px;
    color: black;
    
    &::selection{
        background-color: $color-pages-active;
        color: white;
        }
}




.galeria-boda{
    width: 90%;
    margin: auto;
    
    .img-boda {
        @include flex-img(column,center,30px);
        display: flex;
        .familia-libreta {
            display: flex;
            align-self: center;
            width: 812px;
            height: 437px;
        &:hover{
            transform: scale(1.05);
        }
    }
        .casados-mirandose {
            display: flex;
            align-self: flex-start;
            padding-top: 30px;
            width: 553px;
            height: 834px;
            &:hover{
                transform: scale(1.05);
            }
        }
        
        .mujer-mirandomarido {
            display: flex;
            align-self: flex-end;
            width: 444px;
            height: 444px;
            &:hover{
                transform: scale(1.05);
            }
        }
        
        .pareja-civil {
            display: flex;
            align-self: flex-start;
            margin-bottom: 50px;
            width: 800px;
            height: 385px;
            &:hover{
                transform: scale(1.05);
            }
        }
        }
        }
    