.container-contacto{
    position: sticky;
    top: 0;
    z-index: 4;
    .main-contacto {
        background-color: $color-1;
    .navBarContacto{
        margin-bottom: 0px;
        padding: 30px;
    }
    .navBarContacto li {
        display: inline;
        font-size: 20px;
        text-align: center;
        width: 100%;
        height: 100px;
        padding: 60px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: 'Roboto', sans-serif;
        }
        .navBarContacto a {
            text-decoration: none;
            color: black;
        
        &:hover{
            color:$color-pages-hover;
            text-decoration: underline;
        }
        &:active{
            color:$color-pages-active;
        }
        &::selection{
            background-color: $color-pages-active;
            color: white;
        }
    }
}
}
.mail-contacto {
    background-color: $color-3;

    p{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 50px;
    margin: 0px;
    font-size: 20px;
    padding-bottom: 20px;
    font-weight: 700px;

&::selection{
    background-color: $color-pages-active;
    color: white;
}
    }
}