.container-1{
    position: sticky;
    top: 0;
    z-index: 4;
    
.main-section {
    background-color: $color-1;
    padding: 35px;

    .navBar2 li {
    display: inline;
    font-size: 23px;
    text-align: center;
    width: 100%;
    height: 100px;
    padding-left: 110px;
    margin-top: 0px;
    margin-bottom: 0px;

}
.navBar2 {
    background-color: $color-1;
    
}
.navBar2 a {
    text-decoration: none;
    color: black;

&:hover{
    color:beige;
    text-decoration: underline;
}
&:active{
    color: $color-pages-active;
}
&::selection{
    background-color: $color-pages-active;
    color: white;
}
}
}
}
.descripcion-book{
    background-image: linear-gradient(to top, #a19882, #a79e88, #ada48e, #b4aa95, #bab09b, #c0b6a1, #c5bba6, #cbc1ac, #d2c8b2, #d8cfb9, #dfd6bf, #e6ddc6);;
    background-size: cover;
    -webkit-animation: descripcion-boda 4s linear 1s infinite alternate both;
    animation: descripcion-boda 4s linear 1s infinite alternate both;
}
    @-webkit-keyframes descripcion-boda {
        0% {
          background: #a19882;
        }
        50% {
          background: #E6DDC6;
        }
        100% {
          background: #C2B8A3;
        }
      }
      @keyframes descripcion-boda {
        0% {
          background: #a19882;
        }
        50% {
          background: #E6DDC6;
        }
        100% {
          background: #C2B8A3;
        }
      }
    p{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 100px;
    margin-top: 0px;
    font-size: 20px;
    color: black;
        
    &::selection{
        background-color: $color-pages-active;
        color: white;
        }
    }


.galeria-book{

    margin: auto;
    width: 90%;
    .img-book {
        @include grids(auto,repeat(2,1fr),repeat(4,auto),"img1 img1""img2 img2""img3 img3""img4 img");
        display: grid;
        /**
        height: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4,auto);
        grid-template-areas:
            "img1 img1"
            "img2 img2"
            "img3 img3"
            "img4 img4"
            ;
*/
.hombre-panza{
    grid-area: img1;
    object-fit: cover;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 20px;
    &:hover{
        transform: scale(1.05);
    }
}
.pareja-mirandose{

    grid-area: img2;
    object-fit: cover;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: 20px;
    &:hover{
        transform: scale(1.05);
    }
}
.mujer-panza{

    grid-area: img3;
    object-fit: cover;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: 0;
    &:hover{
        transform: scale(1.05);
    }

}
.pareja-mano{

    grid-area: img4;
    object-fit:cover;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
    justify-self: center;
    &:hover{
        transform: scale(1.05);
    }
}
}
}