@media (max-width:1217px){
    .container-1{

    .main-buscador{
        padding: 30px;
        .navBar li {
            padding-left: 90px;
        }
    }        
    }
    }
    @media (max-width:1075px){
    .container-1{
        .main-buscador{
            padding: 28px;
            .navBar li{
                padding-left: 80px;
            }

        }
    }
}