
@media (max-width:880px){
    .galeria-contenido{
        .img-contenido{
            .marca-1{
                width: 420px;
                height: 420px;
            }
            .marca-2{
                width: 420px;
                height: 420px;
            }
            .marca-3{
                width: 420px;
                height: 420px;
            }
            .marca-4{
                width: 420px;
                height: 420px;
            }
            .marca-5{
                width: 420px;
                height: 420px;
            }
        }
}
}
@media (max-width:790px){
    .galeria-contenido{
        .img-contenido{
            .marca-1{
                width: 400px;
                height: 400px;
            }
            .marca-2{
                width: 400px;
                height: 400px;
            }
            .marca-3{
                width: 400px;
                height: 400px;
            }
            .marca-4{
                width: 400px;
                height: 400px;
            }
            .marca-5{
                width: 400px;
                height: 400px;
            }
        }
    }
}

