@media (max-width:375px){
    .galeria-contenido{
        .img-contenido{
            .marca-1{
                align-self: center;
                margin-bottom: 15px;
                width: 180px;
                height: 180px;
                &:hover{
                    transform: scale(1.05);
                }
            }
            .marca-2{
                align-self: center;
                margin-bottom: 15px;
                width: 180px;
                height: 180px;
                &:hover{
                    transform: scale(1.05);
                }
            }
            .marca-3{
                align-self: center;
                margin-bottom: 15px;
                width: 180px;
                height: 180px;
                &:hover{
                    transform: scale(1.05);
                }
            }
            .marca-4{
                align-self: center;
                margin-bottom: 15px;
                width: 180px;
                height: 180px;
                &:hover{
                    transform: scale(1.05);
                }
            }
            .marca-5{
                align-self: center;
                margin-bottom: 15px;
                width: 180px;
                height: 180px;
                &:hover{
                    transform: scale(1.05);
                }
            }
        }
}
}
