@media (max-width:320px){
    .descripcion-boda{
        p{
        font-size: 16px;
    }
}
    .galeria-boda{
        .img-boda{
    .familia-libreta{
        width: 315px;
        height: 250px;
    }
    .casados-mirandose{
        width: 310px;
        height: 560px;
    }
    .mujer-mirandomarido{
        width: 270px;
        height: 270px;
    }
}
}
}