@media (max-width:740px){
    .galeria-contenido{
        .img-contenido{
            .marca-1{
                width: 330px;
                height: 330px;
            }
            .marca-2{
                width: 330px;
                height: 330px;
            }
            .marca-3{
                width: 330px;
                height: 330px;
            }
            .marca-4{
                width: 330px;
                height: 330px;
            }
            .marca-5{
                width: 330px;
                height: 330px;
            }
        }
    }
}
@media (max-width:650px){
    ain-section{
        padding: 21px;
        .navBar2 li{
            display: inline;
            font-size: 17px;
            padding: 19px;
        }
    }
}

@media (max-width:620px){

    .container-1{
        .main-section{
            padding: 19px;
            .navBar2 li{
                font-size: 17px;
                padding: 17px;
            }
        }
    }
}

.galeria-contenido{
        .img-contenido{
            .marca-1{
                width: 290px;
                height: 290px;
            }
            .marca-2{
                width: 290px;
                height: 290px;
            }
            .marca-3{
                width: 290px;
                height: 290px;
            }
            .marca-4{
                width: 290px;
                height: 290px;
            }
            .marca-5{
                width: 290px;
                height: 290px;
            }
        }
    }
@media (max-width:573px){
    .container-1{
        .main-section{
            padding: 17px;
            .navBar2 li{
                font-size: 17px;
                padding: 16px;
            }
        }
    }
    .galeria-contenido{
        .img-contenido{
            .marca-1{
                margin-bottom: 15px;
                width: 240px;
                height: 240px;
            }
            .marca-2{
                margin-bottom: 15px;
                width: 240px;
                height: 240px;
            }
            .marca-3{
                margin-bottom: 15px;
                width: 240px;
                height: 240px;
            }
            .marca-4{
                margin-bottom: 15px;
                width: 240px;
                height: 240px;
            }
            .marca-5{
                margin-bottom: 15px;
                width: 240px;
                height: 240px;
            }
        }
}
}