@media (max-width:375px){
    .galeria-eventos{
        .img-eventos{
    .nene-sonriendo{
        width: 250px;
        height: 250px;
    }
    .familia-sonriendo{
        width: 300px;
        height: 130px;
    }
    .nene-mama{
        width: 280px;
        height: 350px;
    }
    .nene-boca{
        width: 250px;
        height: 320px;
    }
}
}
}