@media(max-width:1024px){
    .galeria-book{
        .img-book{
    .hombre-panza{
        width: 320px;
        height: 750px;
    }
    .pareja-mirandose{
        width: 450px;
        height: 320px;
    }
    }
}
}
    @media(max-width:976px){
        .galeria-book{
            .img-book{
        .hombre-panza{
            width: 320px;
            height: 720px;
            &:hover{
                transform: scale(1.05);
            }
        }
        .pareja-mirandose{
            width: 400px;
            height: 300px;
            &:hover{
                transform: scale(1.05);
            }
        }
        .mujer-panza{
            margin-top: 15px;
            width: 420px;
            height: 700px;
            margin-bottom: 15px;
            &:hover{
                transform: scale(1.05);
            }
        }
        .pareja-mano{
            width: 380px;
            height: 380px;
            &:hover{
                transform: scale(1.05);
            }
        }
    }
}
}
@media (max-width: 894px){
    .galeria-book{
        .img-book{
            margin: 0px;
        }
    }
}
    @media(max-width:870px){
        .galeria-book{
            .img-book{
        .hombre-panza{
            width: 320px;
            height: 680px;
        }
        .pareja-mirandose{
            width: 360px;
            height: 300px;
        }
        .mujer-panza{
            margin-top: 15px;
            width: 380px;
            height: 620px;
            margin-bottom: 15px;
        }
    }
}
}
    @media (max-width:802px){
        .container-1{
        .main-section{
        .navBar2 li{
            font-size: 18px;
            padding: 12px;
        }
    }
}
        .galeria-book{
            .img-book{
        .pareja-mirandose{
            width: 330px;
            height: 260px;
        }
        .pareja-mano{
            width: 340px;
            height: 340px;
        }
    }
}
}