@media(max-width:1277px){
    .headerFormulario{
        h1{
            font-size: 75px;
        }

        }
    .main-buscador{
        padding: 35px;
    .navBar li {
        padding-left: 85px;
    }
}
}
/**
@media (max-width:1217px){
    .main-buscador{
        
        .navBar li {
            padding-left: 80px;
        }
    }
}*/
