
@media(max-width:375px){
    .headerFormulario{
    h1{
        font-size: 22px;
    }
}
.galeria-1{
    .img-index{
    .corazon-embarazada{
        display: flex;
        align-self: center;
        width: 180px;
        height: 300px;
        margin-bottom: 15px;
        &:hover{
            transform: scale(1.05);
        }
    }
    .mujeres-beso{
        width: 260px;
        height: 360px;
        margin-bottom: 15px;
        display: flex;
        align-self: center;
        &:hover{
            transform: scale(1.05);
        }
    }
    .mujer-mirando{
        width: 150px;
        height: 180px;
        display: flex;
        align-self: center;
        margin-bottom: 15px;
        &:hover{
            transform: scale(1.05);
        }
    }
    .hombre-nene{
        width: 320px;
        height: 70px;
        display: flex;
        align-self: center;
        margin-bottom: 15px;
        &:hover{
            transform: scale(1.05);
        }
    }
    .pareja-byn{
        width: 290px;
        height: 115px;
        margin-bottom: 15px;
        display: flex;
        align-self: center;
        &:hover{
            transform: scale(1.05);
        }
    }
    .familia-feliz{
        width: 200px;
        height: 310px;
        display: flex;
        align-self: center;
        margin-bottom: 15px;
        &:hover{
            transform: scale(1.05);
        }
    }
    .nene-sonriendo1{
        width: 180px;
        height: 450px;
        &:hover{
            transform: scale(1.05);
        }
    }
}
}
}