@media (max-width:375px){
    .galeria-book{
        .img-book{
    .pareja-mirandose{
        width: 300px;
        height: 230px;
    }
    .mujer-panza{
        width: 280px;
        height: 480px;
    }
    .pareja-mano{
        width: 300px;
        height: 300px;
    }
}
}
}