@media (max-width: 425px){
    .container-1{
        position: static;
    .main-section ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #ebdfc1;
    .navBar2 li{
        display: flex;
        flex-direction: column;
        }
        }
        }
    .galeria-eventos{
        .img-eventos{
    .nene-sonriendo{
        width: 290px;
        height: 290px;
        &:hover{
            transform: scale(1.05);
        }
    }
    .familia-sonriendo{
        width: 370px;
        height: 170px;
        &:hover{
            transform: scale(1.05);
        }
    }
    .nene-mama{
        width: 290px;
        height: 370px;
        &:hover{
            transform: scale(1.05);
        }
    }
    .nene-boca{
        width: 320px;
        height: 400px;
        &:hover{
            transform: scale(1.05);
        }
    }
}
}
}