@media (max-width: 375px){
    .galeria-boda{
        .img-boda{
    .familia-libreta{
        width:350px;
        height: 280px;
    }
    .pareja-civil{
        width: 360px;
        height: 270px;
    }
}
}
}