@media (max-width:320px){
    .descripcion-eventos{
        p{
        font-size: 16px;
    }
    .galeria-eventos{
        .img-eventos{
    .nene-sonriendo{
        width: 220px;
        height: 220px;
    }
    .familia-sonriendo{
        width: 290px;
        height: 120px;
    }
    .nene-mama{
        width: 210px;
        height: 310px;
    }
    .nene-boca{
        width: 230px;
        height: 290px;
    }
}
}
}
}