@media (max-width:320px){
    .galeria-book{
        .img-book{
    .pareja-mirandose{
        width: 270px;
        height: 190px;
    }
    .mujer-panza{
        width: 250px;
        height: 420px;
    }
    .pareja-mano{
        width: 270px;
        height: 270px;
    }
}
}
}