@media (max-width:320px){

.galeria-contenido{
    .img-contenido{
        .marca-1{
            margin-bottom: 15px;
            width: 150px;
            height: 150px;
        }
        .marca-2{
            margin-bottom: 15px;
            width: 150px;
            height: 150px;
        }
        .marca-3{
            margin-bottom: 15px;
            width: 150px;
            height: 150px;
        }
        .marca-4{
            margin-bottom: 15px;
            width: 150px;
            height: 150px;
        }
        .marca-5{
            margin-bottom: 15px;
            width: 150px;
            height: 150px;
        }
    }
}
}