@media (max-width:320px){
    .descripcion-boda{
        p{
        font-size: 16px;
    }
}
    .galeria-boda{
        .img-boda{
    .familia-libreta{
        width: 315px;
        height: 250px;
    }
    .casados-mirandose{
        align-self: center;
        width: 290px;
        height: 480px;
    }
    .mujer-mirandomarido{
        align-self: center;
        width: 270px;
        height: 270px;
    }
    .pareja-civil{
        align-self: center;
        width: 290px;
        height: 230px;
    }
}
}
}