
@media(max-width:425px){
    .headerFormulario{
    h1{
        font-size: 25px;
    }
}
.galeria-1{
    .img-index{
    .corazon-embarazada{
        display: flex;
        align-self: center;
        width: 200px;
        height: 340px;
        margin-bottom: 15px;
    }
    .mujeres-beso{
        width: 290px;
        height: 390px;
        margin-bottom: 15px;
    }
    .mujer-mirando{
        width: 150px;
        height: 180px;
        display: flex;
        align-self: center;
        margin-bottom: 15px;
    }
    .hombre-nene{
        width: 370px;
        height: 80px;
        display: flex;
        align-self: center;
        margin-bottom: 15px;
    }
    .pareja-byn{
        width: 320px;
        height: 115px;
        margin-bottom: 15px;
    }
    .familia-feliz{
        width: 200px;
        height: 310px;
        display: flex;
        align-self: center;
        margin-bottom: 15px;
    }
    .nene-sonriendo1{
        width: 180px;
        height: 480px;
    }
}
}
}