@media (max-width:425px){
    .galeria-book{
        .img-book{
    .hombre-panza{
        width: 250px;
        height: 520px;
    }
    .mujer-panza{
        width: 310px;
        height: 520px;
    }
}
}
}