@media (max-width: 375px){
    .galeria-boda{
        .img-boda{
    .familia-libreta{
        width:350px;
        height: 280px;
    }
    .casados-mirandose{
        align-self: center;
        width: 300px;
        height: 500px;
    }
    .pareja-civil{
        align-self: center;
        width: 340px;
        height: 250px;
    }
}
}
}