@media (max-width:425px){
    .galeria-boda{
        .img-boda{
        display: flex;
        flex-direction: column;
        align-items: center;
    .familia-libreta{
        width: 400px;
        height: 300px;
        align-self: center;
    }
    .casados-mirandose{
        align-self: center;
        width: 350px;
        height: 550px;
    }
    .mujer-mirandomarido{
        align-items: center;
        width: 300px;
        height: 300px;
    }
    .pareja-civil{
        align-self: center;
        margin-left: 20px;
        padding-left: 20px;
        width: 400px;
        height: 280px;
    }
    }
    }
}
